<!DOCTYPE html>
<html>
	<head>
		<title> AJAX </title>
	</head>

	<body>
		<h1> Ejemplo 1 - AJAX </h1>
		<form id="form1">
			<input id="idEmail" type="email" placeholder="Email"> <br>
			<input id="idNombre" type="text" placeholder="Primer nombre"> <br>
			<button type="submit"> Enviar </button>
		</form>
		<div id="msgError"> <div>
		
		<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
		<script type="text/javascript" src="../static/form.js"></script>	
	</body>
</html>